$clr-white: #ffffff;
//$clr-obsidian: #1f1b2a;
$clr-obsidian: #685064;

$clr-indigo: #540d6e;
$clr-watermelon: #ee4266;
$clr-pollen: #ffd23f;
$clr-turqoise: #3bceac;
$clr-jungle: #0ead69;
$clr-shadey: #238b6c;
