$clr-white: #ffffff;
$clr-stone: #7d66b5;
$clr-obsidian: #1f1b2a;

$clr-indigo: #540d6e;
$clr-watermelon: #ee4266;
$clr-pollen: #ffd23f;
$clr-turqoise: #3bceac;
$clr-jungle: #0ead69;
$clr-shadey: #238b6c;
