@mixin phone {
  @media screen and (max-width: 560px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 561px) and (max-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 993px) {
    @content;
  }
}

@mixin using_mouse {
  @media (pointer: fine) {
    @content;
  }
}
