@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin font_color($color) {
  color: $color;

  &::selection {
    background-color: rgb($color, 0.4);
  }
}
