@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.list {
  display: grid;
  gap: 25px;
  overflow: visible;

  @include q.phone {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  @include q.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include q.desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.subheading {
  text-align: center;
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 600;
  line-height: 1;
  overflow: visible;
  @include mixins.font_color(g.$clr-white);

  padding: 6rem 0;
  grid-column: 1 / -1;
}
