@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.heading {
  text-align: center;
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 600;
  line-height: 1;
  overflow: visible;
  @include mixins.font_color(g.$clr-white);

  padding-bottom: 1rem;
  grid-column: 1 / -1;
}

.restock {
  width: 100%;
  height: 4rem;
  font-size: clamp(1rem, 8vw, 2rem);

  border: g.$clr-white solid 2px;
  background-color: rgb(g.$clr-white, 0.5);
  border-radius: 10px;
  @include mixins.font_color(g.$clr-shadey);

  &:hover {
    background-color: rgb(g.$clr-white, 0.7);
  }

  &:active {
    background-color: rgb(g.$clr-white, 0.9);
  }
}

.debug {
  @include mixins.flex(column, center, center, 1rem);
  padding: 1rem 20%;
}
