@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.carousel {
  width: var(--main-width);
  background: g.$clr-white;
  position: relative;
  border-radius: 30px;

  height: 30vh;

  @include q.tablet {
    height: 40vh;
  }

  @include q.desktop {
    height: 50vh;
  }

  .left,
  .right {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    border-radius: 30px;

    background: rgb(g.$clr-white, 0.5);
    border: none;
    opacity: 0.25;
    transition: all 200ms ease;

    &:hover {
      opacity: 1;
    }

    img {
      width: 48px;
      height: 48px;
    }
  }

  .left {
    left: 0;
  }
  .right {
    right: 0;
  }

  .center {
    flex: 1;
    height: 100%;

    position: relative;
    overflow: hidden;
    border-radius: 30px;

    transition: left 0.4s ease;
    will-change: transform;

    .img_container {
      position: fixed;
      top: 0;
      transition: left 0.4s ease;

      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
