@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.star {
  width: 40px;
  height: 40px;
}

.enabled {
  transition: all 200ms ease;

  &:hover {
    filter: drop-shadow(0 0 10px g.$clr-pollen);
  }
}

.spinner {
  animation: spin 700ms ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
