@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.card {
  background-color: grey;
  @include mixins.flex(column, center, center, 1rem);
  overflow: hidden;
  transition: transform 100ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.img_holder {
  background: #85a643;
  width: calc(20px * var(--pixel-scale));
  height: calc(20px * var(--pixel-scale));
  overflow: hidden;
  @include mixins.flex(row, center, center, 0);

  img {
    width: calc(16px * var(--pixel-scale));
    height: calc(32px * var(--pixel-scale));
    image-rendering: pixelated;
    object-fit: contain;
    transform: translateY(calc(-8px * var(--pixel-scale)));
  }
}
