@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.card {
  background-color: grey;
  @include mixins.flex(column, center, center, 1rem);
  overflow: hidden;
  transition: transform 100ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.img_holder {
  background: #85a643;
  width: 128px;
  height: 128px;
  overflow: hidden;
  @include mixins.flex(row, center, center, 0);

  img {
    width: 96px;
    aspect-ratio: 1 / 2;
    image-rendering: pixelated;
    object-fit: contain;
    transform: translateY(-48px);
  }
}
