@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.stock_picker {
  border: 1px solid black;
  position: relative;
  overflow: visible;
  cursor: pointer;

  width: 48px;
  height: 48px;

  border-radius: 10px;
  @include mixins.flex(row, center, center, 0);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(135deg, #ffffff90, #ffffff00);
    border-radius: 10px;
  }

  &:hover::after {
    background: linear-gradient(135deg, #ffffffc0, #ffffff40);
  }

  .sold_out {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;

    z-index: 1;
  }
}
