@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.cart_element {
  @include mixins.flex(row, flex-end, center, 2rem);
  margin-bottom: 20px;
  width: 100%;

  @include q.phone {
    gap: 1rem;
  }

  .info_container {
    @include mixins.flex(column, flex-start, flex-start, 0.25rem);
    width: 50%;

    .info_title {
      font-size: 1.25rem;
    }

    p {
      @include mixins.font_color(g.$clr-white);
      font-weight: 500;
      line-height: 1;
    }

    .button_container {
      @include mixins.flex(row, flex-end, center, 0.5rem);

      .quantity_label {
        @include q.phone {
          display: none;
        }
      }

      button {
        width: 34px;
        height: 34px;

        border: g.$clr-white solid 2px;
        background-color: rgb(g.$clr-white, 0.5);
        border-radius: 10px;
        @include mixins.font_color(g.$clr-shadey);

        &:hover {
          background-color: rgb(g.$clr-white, 0.7);
        }

        &:active {
          background-color: rgb(g.$clr-white, 0.9);
        }
      }
    }
  }

  .image_container {
    width: 50%;
    height: 100px;
    background: g.$clr-white;
    border-radius: 20px;
    overflow: hidden;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
