@use "./sass/global" as g;
@use "./sass/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;

  line-height: 1.5;
  text-decoration: none;

  overflow-x: hidden;
  scroll-behavior: smooth;

  @include mixins.font_color(g.$clr-white);
}

html {
  width: 100vw;
  height: 100%;
}

#root {
  background-color: g.$clr-indigo;
}

:root {
  --main-width: min(95vw, 80rem);
  --inset: calc((100vw - var(--main-width)) * 0.5);
  --nav-bar-height: 2.5rem;
}

body,
#root,
main {
  width: 100vw;
  height: 100vh;
}

main {
  padding: var(--nav-bar-height) var(--inset) 1rem var(--inset);
}
