@use "./sass/global" as g;
@use "./sass/mixins";
@use "./sass/media-queries" as q;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;

  line-height: 1.5;
  text-decoration: none;

  overflow-x: visible;
  scroll-behavior: smooth;

  @include mixins.font_color(g.$clr-obsidian);
}

html {
  width: 100vw;
  min-height: 100%;
}

:root {
  --main-width: min(95vw, 1200px);
  --inset: calc((100vw - var(--main-width)) * 0.5);
  --nav-bar-height: 2.5rem;
}

body,
#root {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding: 4rem var(--inset);
  width: 100vw;
  min-height: 100vh;
  /*margin-top: var(--nav-bar-height);*/
}
