@use "./sass/global" as g;
@use "./sass/mixins";
@use "./sass/media-queries" as q;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;

  line-height: 1.5;
  text-decoration: none;

  overflow-x: visible;
  scroll-behavior: smooth;

  @include mixins.font_color(g.$clr-white);
}

html {
  width: 100vw;
  min-height: 100%;
}

#root {
  background-color: g.$clr-grass;
}

:root {
  --main-width: min(95vw, 1200px);
  --inset: calc((100vw - var(--main-width)) * 0.5);
  --nav-bar-height: 2.5rem;
  --pixel-scale: 6;

  @include q.tablet {
    --pixel-scale: 5;
  }

  @include q.phone {
    --pixel-scale: 3;
  }
}

body,
#root,
main {
  width: 100vw;
  min-height: 100vh;
}

main {
  padding: var(--nav-bar-height) var(--inset) 1rem var(--inset);
}
