@use "../../sass/global" as g;
@use "../../sass/media-queries" as q;
@use "../../sass/mixins";

.title {
  text-align: center;
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 600;
  line-height: 1;
  overflow: visible;
  @include mixins.font_color(g.$clr-white);

  padding: 8rem 0;
  grid-column: 1 / -1;
}
